!!!5
html
	head
		include ./partials/head.jade
		include ./partials/stylesheets.jade
		title happystrap
		link(rel="stylesheet", href="/compiled/css/style.css")
		script(src="/static/lib/modernizr/modernizr.js")

	body

		include ./partials/footer.jade
		include ./partials/ga.jade
		include ./partials/javascripts.jade
		script(src="/compiled/js/libs.develop.js")
		script(src="/compiled/js/app.develop.js")
		script(src="/compiled/js/templates.develop.js")
		block javascripts
		script.
			setTimeout(function () {
				window.jQuery(document).foundation();
			}, 300);

