# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~
*.psd

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.pydevproject
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Translations
*.mo

# Folders to ignore
.hg
.svn
.CVS
.build
project/static/*

# Unit test / coverage reports
.coverage
.tox

# npm
node_modules

# Bower
project/source/lib

# Sas
.sass-cache

#nodemon
.nodemonignore
